.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    min-width: 340px;
    padding-bottom: 8px;
    box-shadow: 8px 0px 8px rgba(48, 62, 98, 0.13);
}
.menu{
    cursor: pointer;
}
.menu-mobile-header{
    display: none;
}
.dummy{
    height: 50px;
}
.other-top-header{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:567px){
    .header-top{
        margin-top: -20px;
    }
    .menu-mobile-header{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center;
    }
    .other-top-header{
        display: none;
    }
}
@media (min-width:568px) and (max-width:767px){
    .header-top{
        margin-top: -20px;
    }
    .menu-mobile-header{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center;
    }
    .other-top-header{
        display: none;
    }
}
@media (min-width:768px) and (max-width:991px){
    .header-top{
        margin-top: -20px;
    }
    .menu-mobile-header{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center;
    }
    .other-top-header{
        display: none;
    }
}