.faq-blue{
    height: auto;
    background:#173cff;
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
:host /deep/ h1{
    font-family: 'Zilla Slab';
    color:#fff!important;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 35px;
}
.faq-blue p{
    color:#ccd4ff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
    margin-top: 75px;
    margin-bottom: 75px;
}
.faq-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sign-up-btn{
background:#ff9900;
border-radius: 8px;
color:#fff;
width: 250px;
border:none;
height: 60px;
font-size: 14px;
box-shadow: 0px 4px 0px #9B7336;
}
.view-api-docs-btn{
 background: transparent;
    border-radius: 8px;
color:#fff;
width: 250px;
height: 60px;
margin-left: 20px;
font-size: 14px;
border: 2px solid rgba(255, 255, 255, 0.2);
}


@media (max-width:768px){
    .faq-blue{
        height: auto;
        background:#173cff;
      padding:35px 30px;
    }
}