.time-based{
    width: 100%;
    height: 400px;
    background:rgb(245, 247, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}
.upload-via-api{
    width: 40%;
    margin-left: 60px;
  }
  .upload-via-api h4{
      font-size: 25px;
      font-weight: bold;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .upload-via-api h4 span{
      color:blue;
  }
  .upload-via-api p{
      margin-top: 20px;
      font-size: 14px;
      font-weight: 500;
      padding-right: 23px;
  }
  .upload-via-api .line-blue{
      width: 50px;
      height: 2px;
      background:blue;
  }
  .cmd-wr img{
      width: 520px;
  }