<div class="time-based">
    <div class="cmd-wr">
        <img src="assets/images/cmd.png">
    </div>
    <div class="upload-via-api">
        <h4>Geography, IP or time based <br><span>access control</span></h4>
        <div class="line-blue"></div>
        <p>Create unlimited signed tokens to give every user a unique video URL. Limit tokens with an expiration time,
            not-valid-before time, geography and IP based rules.
            <br><br> Create video URLs that enable logged-in users to only view videos they are entitled to. Comply with
            licensing restrictions using geography rules.
        </p>
    </div>
</div>