<div class="d-flex flex-row">
<div class="sidebar">
    <div class="brand">
        <img src="/assets/images/logo.png"><span>video</span>
    </div>
    <div class="sidebar-menu">
        <div class="menu-item" (click)="setMenu(0)" routerLinkActive="active" routerLink="/others/dashboard">
            <img style="width:20px" [src]="menu==0?'/assets/images/dashboard-white.png':'/assets/images/home.png'"><span>Dashboard</span>
        </div>
        <div class="menu-item" (click)="setMenu(1)" routerLinkActive="active" routerLink="/others/file-manager">
            <img [src]="menu==1?'/assets/images/file-manager-white.png':'/assets/images/file-manager.png'" style="width: 20px;">
            <span>File Manager</span>
        </div>
        <div class="menu-item" (click)="setMenu(2)" routerLinkActive="active" routerLink="/others/upload-video">
            <img [src]="menu==2?'/assets/images/upload-video-white.png':'/assets/images/upload-video.png'"><span>Upload Video</span>
        </div>
        <div class="menu-item" (click)="setMenu(3)" routerLinkActive="active" routerLink="/others/statics">
            <img style="width:20px" [src]="menu==3?'/assets/images/statics-white.png':'/assets/images/chart.png'"><span>Statistics</span>
        </div>
        <div class="menu-item" (click)="setMenu(4)" routerLinkActive="active" routerLink="/others/settings">
            <img [src]="menu==4?'/assets/images/settings-white.png':'/assets/images/settings.png'"><span>Settings</span>
        </div>
        <div class="menu-item" (click)="setMenu(5)" routerLinkActive="active" routerLink="/others/support">
            <img style="width:20px" [src]="menu==5?'/assets/images/support-white.png':'/assets/images/code.png'"><span>Support</span>
        </div>
    </div>
        </div>
        <div style="width:100%">
<router-outlet></router-outlet>
</div>
</div>