<div class="header-top">
    <div class="dummy"></div>
      <app-user></app-user>
  </div>
  <div class="container-fluid">
<h5>Support</h5>
<div class="container">
    <div class="row">
        <div class="col-md-7">
<div class="touch">
    <label>Get in touch with us</label>
    <form>
        <div class="form-group" >
        <input class="form-control" type="text" placeholder="Your Name">
        <input class="form-control" type="email" placeholder="Your Email">
    </div>
    <div class="form-group">
        <textarea class="form-control" placeholder="How can we help you?"></textarea>
    </div>
    <button class="btn-blue-send">Send</button>
    </form>
</div>
        </div>
        <div class="col-md-5">
<div class="info">
    <label>Contact Information</label>
    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
<div class="link"><i class="fa fa-envelope"></i><span>contact@themovation.com</span></div>
<div class="link"><i class="fa fa-phone"></i><span>1-800-222-4545</span></div>
<div class="social-links">
    <div class="circle">
        <i class="fa fa-facebook"></i>
    </div>
    <div class="circle">
        <i class="fa fa-instagram"></i>
    </div>
    <div class="circle">
        <i class="fa fa-twitter"></i>
    </div>
    <div class="circle">
        <i class="fa fa-linkedin"></i>
    </div>
</div>
</div>
        </div>
    </div>
</div>
</div>