<app-common1>
    <h1>Why Us!</h1>
</app-common1>
<div class="features-header">
<h2 id="fh"><span>Important Features</span> for Digital Marketing</h2>
<div class="line-orange">

</div>
<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="features">
                <div class="feature1">
        <h4>Adaptive <span>bitrate technology</span></h4>
        <div class="line-orange"></div>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                </div>
                <div class="feature2">
                    <h4>Granular access control with <span>JWTs</span></h4>
                 <div class="line-blue"></div>
                 <p>
                     All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
                 </p>
                </div> 
           <div class="feature1">
               <h4><span>HTML5 </span>player</h4>
            <div class="line-orange"></div>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.             </p>
           </div>
      
        <div class="feature2">
            <h4>Webhooks</h4>
            <div class="line-blue"></div>
            <p>
                All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>                </div>
                   
                </div>
        </div>
        <div class="col-md-6">
            <div class="features">
               <div class="feature1">
                    <h4><span>VAST ads</span> (Enterprise plans only)</h4>
                    <div class="line-orange"></div>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p></div>
           
          
                    
           <div class="feature2">
            <h4><span>Signed</span> URLs</h4>
         <div class="line-blue"></div>
         <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words! </p>
        </div>

        <div class="feature1">
            <h4>Automated<span> thumbnails</span></h4>
            <div class="line-orange"></div>
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>   
  
                </div>
                <div class="feature2">
                    <h4>Closed <span>captioning support</span></h4>
                 <div class="line-blue"></div>
                 <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words! </p>
                </div>
        </div>
    </div>
    
</div>