<div class="features">
<h3>key features</h3>
<h2>Designing for Positive Future</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="mcard">
                <h1>web design</h1>
                <h4>Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mcard2">
                <h1>development</h1>
                <h4>Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mcard">
                <h1>photography</h1>
                <h4>Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mcard2">
                <h1>branding</h1>
                <h4>Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mcard">
                <h1>marketing</h1>
                <h4>Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="mcard2">
                <h1>support</h1>
                <h4>Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet</h4>
            </div>
        </div>
    </div>
</div>
</div>