<app-mobile-top-header></app-mobile-top-header>
  <div class="statics-wr">
    <div class="statics-info">
        <div class="info">
            <h5>Clicks</h5>
            <h3>500</h3>
        </div>
        <div class="info">
            <h5>Views</h5>
            <h3>8k</h3>
        </div>
        <div class="info">
            <h5>Average first response time</h5>
            <h3>50m</h3>
        </div>
        <div class="info">
            <h5>Average response time</h5>
            <h3>2h 10m</h3>
        </div>
        <div class="info">
            <h5>Resolution with SLA</h5>
            <h3>95%</h3>
        </div>
    </div>
      <div id="chart-container">   
          <div class="chart-header-section">
<div class="chart-title">
    <h4>Today's Trends</h4>
    <p>as of 28 Apr 2021 03:14 PM</p>
</div>
<div class="select-wr">
    <select class="form-select">
        <option value="today" selected>Today</option>
        <option value="yesterday">Yesterday</option>
    </select>
</div>
</div> 
<div id="chart"></div>
</div>
</div>
