<div class="container">
    <div class="card">
        <input type="radio" id="fine" name="radio">
        <span><i class="fa fa-check"></i></span>
        <label for="fine">I'm fine</label>
        <div class="layer"></div>
    </div>
    <div class="card">
        <input type="radio" id="jumping" name="radio">
        <span><i class="fa fa-check"></i></span>
        <label for="jumping">No jumping</label>
        <div class="layer"></div>
    </div>
    <div class="card">
        <input type="radio" id="impact" name="radio">
        <span><i class="fa fa-check"></i></span>
        <label for="impact">low impact</label>
        <div class="layer"></div>
    </div>
</div>