<div class="any-device">
    <div class="girl-section">
        <img src="/assets/images/girl.png">
    </div>
    <div class="upload-via-api">
        <h4>View videos on <span>any <br>device</span>, on any collection</h4>
        <div class="line-orange"></div>
        <p>Stream supports uploads for almost every video format such as H.264, H.265, ProRes and VP9. Videos automatically get converted to modern formats that can be viewed on most devices.
<br><br>
            Videos can be uploaded by specifying a web URL, or directly from a client.</p>
    </div>
</div>