<div class="web-player">
        <div class="upload-via-api">
            <h4>Web player included, <span>all <br>major </span>players <span>supported</span></h4>
            <div class="line-blue"></div>
            <p>A developer friendly HTML5 video player is included that can be customized to fit your desired playback behavior.
<br><br>
                Adaptive bitrate streaming, subtitles and AirPlay are supported out of the box. Built-in reporting includes video view counts and minutes watched.</p>
            <span class="tblue">View Cloudflare Stream player API</span>
        </div>
    <div class="men-image-wr">
        <img src="assets/images/men.png">
    </div>
</div>