<div class="web-player">
        <div class="upload-via-api">
            <h4>Web player included, <span>all <br>major </span>players <span>supported</span></h4>
            <div class="line-blue"></div>
            <p>Lorem ipsum dolor sit amet Lorem Lorem ipsum dolor sit amet consectetur. ipsum dolor sit amet consectetur adipisicing elit. consectetur adipisicing elit.
                <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.
            </p>
            <p class="tblue">View Cloudflare Stream player API</p>
        </div>
    <div class="men-image-wr">
        <img src="assets/images/men.png">
    </div>
</div>