<div class="service">
    <h1>
        our service
    </h1>
    <p>Phasellus scelerisque sed leo quis gravida. Fusce lobortis libero ut arcu blandit pharetra.</p>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="image-wr">
                <img src="/assets/images/pict.PNG" class="img-fluid">
            </div>
        </div>
        <div class="col-md-4">
            <div class="image-wr">
                <img src="/assets/images/pict2.PNG" class="img-fluid">
            </div>
        </div>
        <div class="col-md-4">
            <div class="image-wr">
                <img src="/assets/images/pict3.PNG" class="img-fluid">
            </div>
        </div>
        <div class="col-md-4">
            <div class="image-wr">
                <img src="/assets/images/pict4.PNG" class="img-fluid">
            </div>
        </div>
        <div class="col-md-8">
            <div class="image-wr">
                <img class="suc" src="/assets/images/pict5.PNG" class="img-fluid">
            </div>
        </div>
    </div>
</div>
</div>