.what-we-do-wr{
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
}
.what-we-do-wr img.code{
    width: 40%;
}
.what-we-do{
   
   
    padding-left: 15px;
}

.what-we-do h2{
    font-size: 38px;
    font-family: 'Zilla Slab';
    font-weight: 700;
    color:#312E2B;
}
.what-we-do h2 span{
    color:#ff9900;
    font-family: 'Zilla Slab';
}
.do-list .do-item span{
font-size: 14px;
}
.do-list .do-item img{
    margin-right: 15px;
}

@media (max-width:768px){
    .what-we-do-wr{
        flex-wrap: wrap;
    }
    .what-we-do-wr img.code{
        width: 100%;
        margin-top: 30px;
    }
}