<div class="container">
    <div class="what-we-do-wr">
    <div class="what-we-do">
        <h2>What <span>we do</span></h2>
        <div class="line-orange"></div>
        <div class="do-list">
            <div class="do-item">
                <img src="/assets/images/checkbox.png"><span>
                    Anytime we push code, it automatically affects approximately 25 million Internet properties.
                </span>
            </div>
            <div class="do-item">
                <img src="/assets/images/checkbox.png"><span>
                    Every day, thousands of new customers sign up for Cloudflare service. </span>
            </div>
            <div class="do-item">
                <img src="/assets/images/checkbox.png"><span>
                    We serve 20 million HTTP requests per second on average.
                    </span>
            </div>
            <div class="do-item">
                <img src="/assets/images/checkbox.png"><span>
                    We serve data from 200 cities in over 100 countries around the world.  
                
                
              </span>
        </div>
    </div>
    </div>
    <img class="code" src="/assets/images/do-code.png">
    </div>
    </div>