<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="navbar-brand">
        <a><img src="/assets/images/logo.png">
            <span>video</span></a>
    </div>
    <input type="checkbox" id="check">
    <label for="check">
        <img class="menu" src="assets/images/menu.png" id="btn">
        <img class="close" src="assets/images/close.png" id="close">
    </label>
    <ul class="navbar-nav ml-auto custom" id="nav1">
        <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/about-us">
                About Us
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/features">
                Features
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/faqs">
                FAQ
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" routerLink="../pricing">
                Pricing
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="../contact-us">
                Contact Us
            </a>
        </li>
        <div class="sign-in" routerLink="../login">
            <button>Sign in</button>
        </div>
    </ul>
   
</nav>