<div class="crv">
    <div class="oik">
    <h1>
        We are creative design studio
    </h1>  
    <h3>Web design & development</h3>  
    <button>learn more</button>
    </div>
    <div class="img-lst">
        <img id="img1" src="/assets/images/man3.PNG" class="img-fluid">
        <img  src="/assets/images/des.PNG" class="img-fluid">
        <img  src="/assets/images/des2.PNG" class="img-fluid">
        <img  src="/assets/images/des3.PNG" class="img-fluid">
        <img  src="/assets/images/des4.PNG" class="img-fluid">
    </div>
</div>