<div class="pricing">
    <div class="key-header">
        <h3>Cloudflare Stream <span>Pricing</span></h3>
        <div class="line-orange"></div>
    </div>
    <div class="container">
        <div class="row dashed-border">
            <div class="col-lg-6 mc">
                <div class="business-plans">
                    <h3>Stream for free, Pro and Business Plans</h3>
                    <span>$1 per 1,000 minutes viewed</span>
                    <span>$5 per 1,000 minutes of video storage capacity</span>
                    <button class="btn-orange">Get Started</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="enterprise-plans">
                    <h3>Stream for Enterprise</h3>
                    <span>Custom pricing for</span>
                    <span>any scale</span>
                    <button class="btn-blue">Contact Sales</button>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row plan">
            <div class="col-xl-6">
                <div class="cloudflare-stream">
                    <h3 class="simp">Simplified pricing of <span>Cloudflare Stream</span></h3>
                    <p class="simp-para">
                        Streaming a library of 500 GB of HD videos over the course of one month with approximately
                        72,000 minutes of viewing time to a global market.
                        <br>&nbsp;&nbsp;
                    </p>
                    <h5 class="total-cost">Total cost: $78.00/month</h5>

                    <div class="streaming-storage">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="stre">Streaming:</h3>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-8">
                                <h3>$72.00</h3>
                                <p class="par-st">Streaming costs at a rate of $1 per 1,000 minutes viewed.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="stre">Storage:</h3>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-8">
                                <h3>$6.00</h3>
                                <p class="par-st2">
                                    Storage costs are based on 1,200 minutes of video content at $5 per 1,000 minutes
                                    stored.</p>
                            </div>
                        </div>
                    </div>

                    <div class="cloud-end">
                        <p>Cloudflare Stream can save you $430.47 every month (or over $5,000 per year) when compared to
                            a cloud provider offering.</p>
                        <p>- Free player included<br>
                            - No additional costs to serve global users</p>
                        <button class="btn-orange">Start using Cloudflare Stream</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="video-stream">
                    <h3 class="simp">Video streaming costs with a typical <span>public cloud provider</span></h3>
                    <p class="simp-para">
                        Streaming a library of 500 GB of HD videos over the course of one month with approximately
                        72,000 minutes of viewing time to the Americas, Europe and Asia (Accessing data centers in
                        Brazil, US, UK and Singapore).
                    </p>
                    <h5 class="total-cost">Total cost: $508.87/month</h5>

                    <div class="streaming-storage">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="stre">Streaming:</h3>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-8">
                                <h3>$496.97</h3>
                                <p class="par-st">Total sum including encoding, CDN and player costs. <span
                                        class="details">Details</span></p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="stre">Storage:</h3>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-8">
                                <h3>$11.50</h3>
<p class="par-st2">&nbsp;&nbsp;<br>&nbsp;&nbsp;</p>
                            </div>
                        </div>
                    </div>

                    <div class="cloud-end">
                        <p>Significantly higher costs (6.5x higher) when building a multi-product solution in the cloud
                        </p>
                        <p>- An external open source player needs to be integrated<br>
                            - Unexpectedly high additional costs for data egress<br>
                            - Varying CDN costs for data center usage across different global regions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="load-more">
       <button class="load-more-btn">More about prices</button> 
    </div>
</div>