<div class="pricing">
    <div class="key-header">
        <h3>Cloudflare Stream <span>Pricing</span></h3>
        <div class="line-orange"></div>
    </div>
    <div class="container">
        <div class="row dashed-border">
            <div class="col-xl-6">
                <div class="business-plans">
                        <h3>Stream for free, Pro and Business Plans</h3>
                        <p>$1 per 1,000 minutes viewed</p>
                        <p>$5 per 1,000 minutes of video storage capacity</p>
                        <button class="btn-orange">Get Started</button>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="enterprise-plans">
                    <h3>Stream for Enterprise</h3>
                    <p>Custom pricing for<br>any scale</p>                  
                    <button class="btn-blue">Contact Sales</button>
                </div>
            </div>
        </div>

    </div>
   <div class="container">
       <div class="row plan">
           <div class="col-xl-6">
               <div class="cloudflare-stream">
<h3>Currently working on this section ,carousel and fonts</h3>
               </div>
           </div>
       </div>
   </div>
</div>