.pricing{
    margin-bottom: 55px;
}
.key-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px;
     text-align: center;
 }
 
 .key-header h3{
    font-family: 'Zilla Slab',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 30px;
    text-align: center;
    color: #312E2B;
 }
 .key-header h3 span{
    font-family: 'Zilla Slab',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
 color:rgb(255, 153, 0);
 }
 .key-header .line-orange{
     width: 60px;
     height: 3px;
     background:rgb(255, 153, 0)
 }
 .business-plans{
     background:rgb(255,249,239);
     height: 300px;
     padding-top: 45px;
     padding-bottom: 45px;
     display: flex;
     border-radius: 8px;
     flex-direction: column;
     align-items: center;
 }
 .enterprise-plans{
    background:rgb(255,249,239);
    height: 300px;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
}
 .business-plans h3{
    font-family: 'Zilla Slab',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #EF8331;   
margin-bottom: 20px;
}
.enterprise-plans h3{
    color:#173CFF;
    font-family: 'Zilla Slab',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center; 
    margin-bottom: 20px;
    }
.business-plans .btn-orange{
    background:rgb(255,153,0);
    border-radius: 8px;
    border:none;
    color:#fff;
    font-size: 14px;
letter-spacing: 1px;
width: 250px;
height: 60px;
    margin-top: 26px;
    box-shadow: 0px 4px 0px #9B7336;
}
.enterprise-plans .btn-blue{
    background:rgb(23, 60, 255);
    border-radius: 8px;
    border:none;
    color:#fff;
    font-size: 14px;
letter-spacing: 1px;
margin-top: 26px;
width: 250px;
height: 60px;
box-shadow: 0px 4px 0px #0021D0;

}
.business-plans span{
    display: block;
    text-align: center;
    font-size: 16px;
    font-style: normal;
font-weight: normal;
line-height: 37px;
color: #5C513F;
}
.enterprise-plans span{
    display: block;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    color: #5C513F;
}
 .enterprise-plans{
     height: 300px;
     background: rgb(245, 247, 255);
 }
 .row.dashed-border{
   border:1px dashed #d5c88c;
   border-radius:8px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 10px;
     padding-right: 10px;
margin-bottom: 70px;
 }
 .row.dashed-border .col-xl-6{
     padding-left: 10px;
     padding-right: 10px;
 }
 .cloudflare-stream{
     border-radius: 10px;
     background:rgb(255,249,239);
     margin-left: -15px;
 }

 .cloudflare-stream .simp{
    font-family: 'Zilla Slab',serif;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 29px;
    font-size: 21px;
    padding-top: 49px;
    line-height: 29px;
    text-align: center;
    color: #312E2B;
 }
 .video-stream .simp{
    font-family: 'Zilla Slab',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    padding-top: 49px;
    margin-bottom: 29px;
    line-height: 29px;
    text-align: center;
    
    color: #312E2B;
 }
 .cloudflare-stream .simp span{
     color:rgb(255, 153, 0);
     font-family: 'Zilla Slab',serif;
 }
 .video-stream .simp span{
    color:rgb(23, 60, 255);
    font-family: 'Zilla Slab',serif;
}
 .cloudflare-stream .simp-para{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: #5C513F;
 }
 .video-stream .simp-para{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: #5C513F;
 }
 .cloudflare-stream .total-cost{
    font-family: 'Zilla Slab',serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 23px;
    line-height: 43px;
    text-align: center;  
    color: #312E2B;  
 }
 .video-stream .total-cost{
    font-family: 'Zilla Slab',serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 23px;
    line-height: 43px;
    text-align: center;  
    color: #312E2B;  
 }
.streaming-storage{
     border-top: 1px dashed gray;
     padding-top: 48px;
     padding-bottom: 43px;
     border-bottom: 1px dashed gray;
 }
 .streaming-storage h3.stre{
    font-family: 'Zilla Slab',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-left: 25px;
    color: #312E2B;
 }
  .streaming-storage h3{
    font-family: 'Zilla Slab',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #312E2B;
 }
 .par-st{
    font-style: normal;
font-weight: normal;
font-size: 14px;
margin-bottom: 43px;
line-height: 28px;
color: #5C513F;
    padding-right: 10px;
 }
 .par-st2{
font-style: normal;
font-weight: normal;
font-size: 14px;
margin-bottom: 5px;
line-height: 28px;
color: #5C513F;
padding-right: 10px;
 }
 .plan{
     padding-top: 30px;
     padding-bottom: 30px;
 }
 .cloud-end{
     padding-top: 36px;
     padding-bottom: 74px;
 }
 .cloud-end p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    margin-left: 25px;
    margin-bottom: 18px;
    color: #5C513F;
 }
 .streaming-storage span.details{
     color:blue;
 }
 .cloud-end .btn-orange{
     width: 89%;
     background: #FF9900;
box-shadow: 0px 4px 0px #9B7336;
border-radius: 8px;
border:none;
height: 60px;
margin-left: 30px;
margin-right: 30px;
font-size: 14px;
color:#fff;
 }