<app-header1></app-header1>






<div class="sign-up-wr">
<div class="sign-up">
    <form>
        <label class="lbl">Create Account</label>
        <input class="form-control" type="text" placeholder="Your email">
        <input class="form-control" type="password" placeholder="Password">
        <input class="form-control" type="password" placeholder="Confirm password">
        
        <button class="sign-up-btn">Sign Up</button>
        <div class="fot">
        <label>If you have an account,<span routerLink="/login"> Sign in</span></label>
    </div>
    </form>
</div>
</div>




<app-footer1></app-footer1>