<div class="key-features">
    <div class="key-header">
        <h3>Key <span>Features</span></h3>
        <div class="line-orange"></div>
        <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet. adipisicing elit.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="features-list">
                    <div class="features-item">
                        <img src="assets/images/checkbox.png">&nbsp;&nbsp;<span>Adaptive bitrate technology</span>
                    </div>
                    <div class="features-item">
                        <img src="assets/images/checkbox.png">&nbsp;&nbsp;<span>VAST ads (Enterprise plans only)</span>
                    </div>
                    <div class="features-item">
                        <img src="assets/images/checkbox.png">&nbsp;&nbsp;<span>Granular access control with JwTs</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 feature2">
                <div class="features-list">
                    <div class="features-item">
                        <img src="assets/images/checkbox.png">&nbsp;&nbsp;<span>Signed URLs</span>
                    </div>
                    <div class="features-item">
                        <img src="assets/images/checkbox.png">&nbsp;&nbsp;<span>HTML5 player</span>
                    </div>
                    <div class="features-item">
                        <img src="assets/images/checkbox.png">&nbsp;&nbsp;<span>Automated thumbnails</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 feature3">
                <div class="features-list">
                    <div class="features-item">
                        <img src="assets/images/checkbox.png">&nbsp;&nbsp;<span>Webhooks</span>
                    </div>
                    <div class="features-item">
                        <img src="assets/images/checkbox.png">&nbsp;&nbsp;<span>Closed captioning support</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="load-more">
       <button class="load-more-btn">Load More Features</button> 
    </div>
</div>