.via-api{
    display: flex;
    flex-direction: row;
    padding-left: 140px;
    padding-right: 140px;
    height: 700px;
    align-items: center;
    justify-content: space-between;
}
.upload-via-api{
  width: 50%;  
}
.upload-via-api h4{
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 30px;
    line-height: 58px; 
    color: #312E2B;
}
.upload-via-api h4 span{
    color:rgb(255, 153, 0);
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px; 
}
.upload-via-api p{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-right: 23px;
}
.upload-via-api .line-orange{
    width: 60px;
    height: 3px;
    background:rgb(255, 153, 0);
}
.curl-cmd{
    filter: drop-shadow(0px 20px 30px rgba(75, 52, 31, 0.53));
    width: 45%;
}
.curl-cmd img{
    width: 100%;
    
}


@media (max-width:567px){
    .via-api{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 20px;
        align-items: center;
        justify-content: space-around;
    }
    .upload-via-api{
        width: 100%;  
        
      }
      .upload-via-api h4{
        font-family: 'Zilla Slab', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        text-align: center;
        line-height: 48px; 
        color: #312E2B;
    }   
    .upload-via-api h4 span{
        color:rgb(255, 153, 0);
        font-family: 'Zilla Slab', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 48px; 
    }
    .upload-via-api p{
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        padding-right: 0px;
    }
    .curl-cmd{
        width: 100%;
    }
    .upload-via-api .line-orange{
        width: 50px;
        height: 3px;
        margin-left: 50%;
        transform: translate(-50%,0);
        background:rgb(255, 153, 0);
    }

}