<div class="container">
    <div class="our-story-wr">
        <img src="/assets/images/story-bg.png">
        <div class="our-story">
            <h2>Our <span>Story</span></h2>
            <div class="line-orange">

            </div>
            <p>
                Cloudflare started as a simple application to find the source of email spam. From there it grew into a
                service that protects websites from all manner of attacks, while simultaneously optimizing performance.
            </p>

            <h6>How Cloudflare Began</h6>

            <p>
                In 2004, Matthew Prince and Lee Holloway set out to answer the basic question: “Where does email spam
                come from?” The two of them built a system that allowed anyone with a website to track how spammers
                harvested email addresses. Project Honey Pot was born.
            </p>
        </div>
    </div>
    <div class="first-office">
        <h1>Cloudflare's <span>First Office</span> in Palo Alto</h1>
        <div class="line-blue"></div>
        <p>
            In 2009, Matthew had taken a sabbatical from his full time work to get his MBA from the Harvard Business
            School. There he met Michelle Zatlyn, now Cloudflare’s Chief Operating Officer. The two were talking one day
            when Matthew mentioned Project Honey Pot and its amazing community of users. Michelle immediately recognized
            the opportunity to create a service that would take Project Honey Pot to the next level: not just tracking
            Internet threats, but stopping them too. The classmates started to work on a business plan.
            <br><br>
            One of the first
            orders of business was coming up with a name. The first business plan was titled “Project Web Wall,” but
            that hardly resonated. A friend of Matthew’s suggested that they were creating a “firewall in the cloud,” so
            it should be known as Cloudflare. The name immediately felt right and stuck. Matthew and Michelle worked
            with the faculty at the Harvard Business School to refine the business plan. In the meantime, Lee built the
            first working prototype in his spare time. In April 2009, Cloudflare won the prestigious Harvard Business
            School Business Plan competition.
            <br><br>
            Lee was based in California and, after graduating from HBS, Michelle and
            Matthew headed west. The three co-founders spent the summer refining the Cloudflare prototype. They felt
            that Cloudflare solved a real need and set out to take Cloudflare to the next level. In November of 2009,
            Cloudflare closed its Series A financing with Ray Rothrock, from Venrock, and Carl Ledbetter, from Pelion
            Venture Partners.
        </p>
    </div>
    <div class="first-office">
        <h1>Matthew Prince, Michelle Zatlyn, Lee Holloway</h1>
        <div class="line-blue"></div>
        <p>
            Matthew, Lee, and Michelle began to build the Cloudflare team. Recruiting before you have a product is
            always tricky, but one thing resonated with everyone: Cloudflare's core mission is to help build a better
            Internet. That was a project that smart engineers could get passionate about. Soon Cloudflare’s Palo Alto,
            CA offices began to fill with a talented team who hailed from top companies like Google, Yahoo, PayPal, and
            Mint.com.
<br><br>
            The biggest concern that investors and advisors had was that Cloudflare’s solution, which was originally
            focused on securing websites, would introduce latency. The team became obsessed with stamping out latency
            anywhere in the system. In June 2010, Cloudflare quietly launched a private beta to select members of the
            Project Honey Pot community. The whole team held their breath. Then something surprising happened. Users
            began writing in that not only was Cloudflare protecting them against online bad guys, but their sites were
            loading, on average, 30% faster. The efficiency of Cloudflare’s system, the layer of caching for static
            resources, and the fact that Cloudflare was taking so much garbage traffic off its user’s sites meant
            Cloudflare not only offered security, it also offered incredible performance.
            <br><br>
            From the first discussions of Cloudflare back on the Harvard Business School’s campus in 2009, the plan was
            always to launch at TechCrunch. On September 27, 2010, Cloudflare did just that. The entire Cloudflare team
            gathered in an auditorium in downtown San Francisco at TechCrunch Disrupt. Early beta users were excited
            about finally being able to talk about the cool service they’d been using for months. And Matthew and
            Michelle stepped on stage to announce to the world Cloudflare’s launch. Since then, Cloudflare has launched
            dozens of products and hundreds of features over the course of 6 years, opened 6 offices across 3 countries,
            and brought 200 data centers online. All of these efforts have brought Cloudflare's benefits: security,
            performance, reliability and insights, to millions of customers around the globe.
            <br><br>
            To read more about what Cloudflare is working on most recently, please visit our blog or our <span class="link">press center.</span>
        </p>
    </div>
</div>