<div class="container-fluid">
    <app-mobile-top-header-main></app-mobile-top-header-main>
    <div class="dashboard">
        <h5>Dashboard</h5>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card">
                    <div>
                        <h6>198</h6>
                        <p>Total Uploaded Videos</p>
                    </div>
                    <div>
                        <img src="/assets/images/icon.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card">
                    <div>
                        <h6>6.94MB</h6>
                        <p>Total Storage Used</p>
                    </div>
                    <div>
                        <img src="/assets/images/icon2.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card">
                    <div>
                        <h6>100Mbit/s</h6>
                        <p>Total Bandwidth Used</p>
                    </div>
                    <div>
                        <img src="/assets/images/ic.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard">
        <h5>Documentation</h5>
        <div class="card" id="doc">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xl-6 col-xxl-4 mc">
                    <div class="card1" id="first">
                        <div>
                            <img src="/assets/images/doc1.png">
                        </div>
                        <p>
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining
                            essentially unchanged.
                        </p>
                        <button class="btn-blue">General Information</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-6 col-xxl-4 mc">
                    <div class="card1">
                        <div>
                            <img src="/assets/images/doc2.png">
                        </div>
                        <p>
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            interested.
                        </p>
                        <button class="btn-orange">Get file info</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-6 col-xxl-4 mc">
                    <div class="card1" id="last">
                        <div>
                            <img src="/assets/images/doc3.png">
                        </div>
                        <p>
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </p>
                        <button class="btn-blue1">Get Supports</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>