<div class="upload-header">
    <button class="upload-video-btn"><img src="/assets/images/upload-white.png">Upload Video</button>
 
 <div class="dropdown">
    <button class="user" id="dropBtn" data-toggle="dropdown" 
    aria-haspopup="true" aria-expanded="false">john smith
     <img src="/assets/images/arrow.png"> 
    </button>    
    <div class="dropdown-menu" aria-labelledby="dropBtn">
        <a class="dropdown-item">Profile Settings</a>
        <a class="dropdown-item">Logout</a>
         </div>  
 </div>

</div>
<div class="dashboard">
    <h5>Dashboard</h5>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div>
                    <h6>198</h6>
                    <p>Total Uploaded Videos</p>
                </div>
                <div>
                    <img src="/assets/images/icon.png">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div>
                    <h6>6.94MB</h6>
                    <p>Total Storage Used</p>
                </div>
                <div>
                    <img src="/assets/images/icon2.png">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div>
                    <h6>100Mbit/s</h6>
                    <p>Total Bandwidth Used</p>
                </div>
                <div>
                    <img src="/assets/images/icon3.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard">
    <h5>Documentation</h5>
    <div class="card">
        <div class="row">
            <div class="col-lg-6 col-xl-4">
                <div class="card1">
                    <div>
                        <img src="/assets/images/icon4.png">
                    </div>
                    <p>
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                    </p>
                    <button class="btn-blue">General Information</button>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card1">
                    <div>
                        <img src="/assets/images/icon2.png">
                    </div>
                    <p>
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    </p>
                    <button class="btn-orange">Get file info</button>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card1">
                    <div>
                        <img src="/assets/images/icon5.png">
                    </div>
                    <p>
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                    </p>
                    <button class="btn-blue1">Get Supports</button> 
                </div>
            </div>
        </div>
       
    </div>
</div>