<div class="upload-section2">
<div class="upload-video">
    <h5>Upload your video</h5>
    <p>File should be Avi, mp4, mov</p>
    <div class="upload-video-select">
        <div class="folder">
            <img src="assets/images/folder.png">
        </div>
        <p class="drag-text">Drag & drop mp4 or avi file here</p>
        <button class="select-file-btn">Select File</button>
    </div>
</div>
<div class="video-stream">
    <h4>Video Stream is an affordable,<br>
    scalable, on-demand video platform </h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet expedita voluptatibus suscipit in eos impedit molestiae excepturi illum repellendus cupiditate, provident soluta non sed saepe at similique quis itaque? Quasi?
        <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nesciunt numquam vitae.
    </p>
<div class="video-stream-btns">
    <button class="sign-up-orange">Sign Up</button>
    <button class="view-api-docs-btn">View API Docs</button>
</div>
</div>
</div>