<div class="upload-section2">
<div class="upload-video">
    <h5>Upload your video</h5>
    <p>File should be Avi, mp4, mov</p>
    <div class="upload-video-select">
        <div class="folder">
            <img src="assets/images/folder.png">
        </div>
        <span class="drag-text">Drag & drop mp4 or avi file here</span>
        <button class="select-file-btn">Select File</button>
    </div>
    <div class="upload-file">
        <button class="upload-file-btn">Upload File</button>
    </div>
</div>
<div class="video-stream">
    <h4>Video Stream is an affordable,<br>
    scalable, on-demand video platform </h4>
    <p>Streaming video on the Internet reliably at scale can be difficult. Cloudflare Stream lets you spend less time integrating and managing disparate video solutions and more time building your product by offering video encoding, storage, delivery and playback in a single unified platform.
        <br><br>
        Stream offers simple, comprehensive APIs for developers that are building for the long term. </p>
<div class="video-stream-btns">
    <button class="sign-up-orange">Sign Up</button>
    <button class="view-api-docs-btn">View API Docs</button>
</div>
</div>
</div>