*{
    font-family: 'Poppins', sans-serif;
}
.active{
         border-bottom: 3px solid #173cff!important;
      margin-top: 0!important;
}
.line-orange{
    width: 60px;
    height: 3px;
    background:rgb(255,153,0);
    border-radius: 8px;
}
.line-blue{
    width: 60px;
    height: 3px;
    background:#173cff;
    border-radius: 8px;   
}
.upload-video-btn{
    background:#173CFF;
    color:#fff;
    width: 225px;
    height: 55px;
    border:none;
    border-radius: 8px;
    font-size: 14px!important;
    font-family: 'Noto Sans', sans-serif!important;
}
.menu{
    cursor: pointer;
}