<div class="footer1">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="getting-started">
                    <h6>getting started</h6>
                    <ul>
                        <li>
                            <a>Home</a>
                        </li>
                        <li>
                            <a>Product</a>
                        </li>
                        <li>
                            <a>Pricing</a>
                        </li>
                        <li>
                            <a>Company</a>
                        </li>
                    </ul>
                    <p>&copy;2021 Cloudflare, Inc.</p>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="getting-started">
                    <h6>account</h6>
                    <ul>
                        <li>
                            <a>Login</a>
                        </li>
                        <li>
                            <a>Sign Up</a>
                        </li>
                        <li>
                            <a>Terms & Conditions</a>
                        </li>
                        <li>
                            <a>Privacy & Cookie</a>
                        </li>
                        <li>
                            <a>Prohibited Product and <br>Services</a>
                        </li>
                    </ul>
                  
                </div>
            </div>
            <div class="col-xl-4">
                <div class="getting-started">
                    <h6>contact us</h6>
                    <ul>
                        <li>
                            <a>Twispay</a>
                        </li>
                        <li>
                            <a>4C Gara Herastrau</a>
                        </li>
                        <li>
                            <a>Street</a>
                        </li>
                        <li>
                            <a>Bucharest, Sector 2</a>
                        </li>
                        
                    </ul>
                  <div class="social-links">
                      <div class="circle"><i class="fa fa-facebook"></i></div>
                      <div class="circle"><i class="fa fa-twitter"></i></div>
                      <div class="circle"><i class="fa fa-instagram"></i></div>
                      <div class="circle"><i class="fa fa-linkedin"></i></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>