.team{
    height: 700px;
    background-image: linear-gradient(#3000ce, #7f44c0);
}
.team-lst{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
}
.im-wr{
    margin:20px 20px
}
.team h1{
    text-align: left;
    margin-left: 50px;
    color:#fff;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: bold;
}
p span{
    font-weight: bold;
    color:#fff;
    font-size: 16px;
}
p{
    margin-left: 50px;
    margin-right: 50px;
    color:#fff;
    font-size: 16px;
}
@media (max-width:567px){
    .team{
        height: auto;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-top: 30px;
        background-image: linear-gradient(#3000ce, #7f44c0);
    }   
}