<div class="team">
    <div class="team-lst">
<div class="im-wr">
    <img src="/assets/images/team.PNG" class="img-fluid">
</div>
<div class="im-wr">
    <img src="/assets/images/team2.PNG" class="img-fluid">
</div>
<div class="im-wr">
    <img src="/assets/images/team3.PNG" class="img-fluid">
</div>
    </div>
    <h1>our team</h1>
    <p><span>

    Integer viverra ligula ornare ex commodo rutrum. Curabitur gravida ex in laoreet dignissim.
</span><br>
Donec tristique faucibus lorem, eu varius neque iaculis at. Phasellus at rutrum mauris. Maecenas rutrum, velit nec suscipit mattis, tellus lorem pellentesque ipsum, in commodo velit ipsum vitae tellus. Donec non urna diam. Sed auctor lectus eu metus consequat ultrices. Nullam vehicula, turpis at ultrices condimentum, est tortor iaculis sapien, vel pellentesque odio augue ac metus
</p>
</div>