<div class="say">
    <div class="carousel slide" id="myslideshow" data-ride="carousel">
        <div class="carousel-indicators">
            <span data-target="#myCarousel" data-slide-to="0" class="active"></span>
            <span data-target="#myCarousel"  data-slide-to="1"></span>
            <span data-target="#myCarousel" data-slide-to="2"></span>
            <span data-target="#myCarousel" data-slide-to="3"></span>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="quote">
                                <div class="quote-text">
                                    <div class="quote-icon-wr">
                                        <img src="assets/images/quote-icon.png">
                                        <img src="assets/images/quote-icon.png">
                                    </div>
                                    <h5>"Lorem ipsum dolor sit amet Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, sint. Culpa vitae nostrum ullam? Similique excepturi repudiandae recusandae. Lorem ipsum dolor sit amet. consectetur adipisicing elit. Quaerat consequuntur eum ipsum corrupti. Voluptatem, eveniet repellat necessitatibus velit maiores incidunt! Illo quos suscipit laborum unde reiciendis deleniti sapiente quasi commodi?"</h5>
                                </div>
                                <div class="quote-user">
            <div class="quote-user-image">
                <img src="assets/images/user.png">
            </div>
            <div class="quote-user-text">
                <h6>Greg Annandale</h6>
                <p>Web platform lead at Raspberry Pi foundation</p>
            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="quote">
                                <div class="quote-text">
                                    <div class="quote-icon-wr">
                                        <img src="assets/images/quote-icon.png">
                                        <img src="assets/images/quote-icon.png">
                                    </div>
                                    <h5>"Lorem ipsum dolor sit amet Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, sint. Culpa vitae nostrum ullam? Similique excepturi repudiandae recusandae. Lorem ipsum dolor sit amet. consectetur adipisicing elit. Quaerat consequuntur eum ipsum corrupti. Voluptatem, eveniet repellat necessitatibus velit maiores incidunt! Illo quos suscipit laborum unde reiciendis deleniti sapiente quasi commodi?"</h5>
                                </div>
                                <div class="quote-user">
            <div class="quote-user-image">
                <img src="assets/images/user.png">
            </div>
            <div class="quote-user-text">
                <h6>Greg Annandale</h6>
                <p>Web platform lead at Raspberry Pi foundation</p>
            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="quote">
                                <div class="quote-text">
                                    <div class="quote-icon-wr">
                                        <img src="assets/images/quote-icon.png">
                                        <img src="assets/images/quote-icon.png">
                                    </div>
                                    <h5>"Lorem ipsum dolor sit amet Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, sint. Culpa vitae nostrum ullam? Similique excepturi repudiandae recusandae. Lorem ipsum dolor sit amet. consectetur adipisicing elit. Quaerat consequuntur eum ipsum corrupti. Voluptatem, eveniet repellat necessitatibus velit maiores incidunt! Illo quos suscipit laborum unde reiciendis deleniti sapiente quasi commodi?"</h5>
                                </div>
                                <div class="quote-user">
            <div class="quote-user-image">
                <img src="assets/images/user.png">
            </div>
            <div class="quote-user-text">
                <h6>Greg Annandale</h6>
                <p>Web platform lead at Raspberry Pi foundation</p>
            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="quote">
                                <div class="quote-text">
                                    <div class="quote-icon-wr">
                                        <img src="assets/images/quote-icon.png">
                                        <img src="assets/images/quote-icon.png">
                                    </div>
                                    <h5>"Lorem ipsum dolor sit amet Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, sint. Culpa vitae nostrum ullam? Similique excepturi repudiandae recusandae. Lorem ipsum dolor sit amet. consectetur adipisicing elit. Quaerat consequuntur eum ipsum corrupti. Voluptatem, eveniet repellat necessitatibus velit maiores incidunt! Illo quos suscipit laborum unde reiciendis deleniti sapiente quasi commodi?"</h5>
                                </div>
                                <div class="quote-user">
            <div class="quote-user-image">
                <img src="assets/images/user.png">
            </div>
            <div class="quote-user-text">
                <h6>Greg Annandale</h6>
                <p>Web platform lead at Raspberry Pi foundation</p>
            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
   
</div>
