.say{
    width: 100%;
    height: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 73px;
}
.quote .quote-text{
    width: 100%;
    padding-top: 67px;
    padding-bottom: 67px;
    background:rgb(255, 249, 239);
    border-radius: 8px;
    padding-left: 70px;
    padding-right: 70px;
    border:2px solid orange;
    position: relative;
}
.quote-text h5{
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    color:rgb(101, 97, 92);
}
.quote-user{
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.quote-user-image{
    margin-right: 35px;
}
.quote-user-text{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
color: #312E2B;
}

.carousel{
    padding-bottom: 70px;
}
.carousel-indicators{
    bottom:100px;
}
.carousel-indicators span{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background:rgb(255,249,239)
}
span.active{
    background:#FF9900!important;
}
.quote-user-text p{
    color:rgb(136, 0, 21);
    margin-bottom: 0;
    font-family: 'Zilla Slab',serif;
    font-size: 16px;
    font-weight: 500;
}
.quote-user-text h6{
    margin-bottom: 0;
    font-family: 'Zilla Slab',serif;
}
.quote-text .quote-icon-wr{
    position: absolute;
    left: 48%;
    top: -12px;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background: rgb(255, 249, 239);
}