<app-mobile-top-header></app-mobile-top-header>
<div class="card">
    <div class="card-header">
        Personal Information
    </div>
    <div class="card-body">
        <form>
            <hr>
            <label>E-mail Address</label>
            <div class="form-group" id="fg1">
            <input type="text" class="form-control" placeholder="Current password">
            <input type="email" class="form-control" placeholder="E-mail">
            <button>Update Email</button>
        </div>
        <hr style="margin-top: 60px;">
    </form>
    <form>
        <label>Password settings</label>
        <div class="form-group" id="fg">
            <input type="password" name="cp" class="form-control" placeholder="Current password">
            <input type="password" name="np" class="form-control" placeholder="New password">
            <input type="password" class="form-control" placeholder="Repeat New password">
            <button>Update Password</button>
            </div>
    </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        API Information
    </div>
    <div class="card-body">
        <hr>
        <label>API Access</label>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group" id="fg2">
                <input type="text" class="form-control" placeholder="apiId">
                <img src="/assets/images/clip.png">
            </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group" id="fg3">
                <input type="text" class="form-control" placeholder="apiSecretId">
                <img src="/assets/images/clip.png">
            </div>
            </div>
        </div>
        <hr style="margin-top: 40px;">
        <label>API Server</label>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group" id="fg4">
                <input type="text" class="form-control" placeholder="Host">
                <img src="/assets/images/clip.png">
            </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group" id="fg5">
                <input type="text" class="form-control" placeholder="Port">
                <img src="/assets/images/clip.png">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group" id="fg6">
                <input type="text" class="form-control" placeholder="User">
                <img src="/assets/images/clip.png">
            </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group" id="fg7">
                <input type="password" class="form-control" placeholder="Password">
                <img src="/assets/images/clip.png">
            </div>
            </div>
        </div>
    </div>
</div>